{% extends 'base.html.twig' %}

{% block title %}Détails membre{% endblock %}

{% block body %}
<h4>Détails de {{ membre.prenom }} {{ membre.nom }} </h4>


    {# <p>Nom : {{ membre.utilisateur.nom}}</p>
    <p>Prénom : {{ membre.utilisateur.prenom}}</p>
    <p>Date d'inscription : {{ membre.dateInscriptionFormatee}}</p>
    <p>Email : {{ membre.utilisateur.email}}</p>
    <p>Rôle : {{ membre.utilisateur.role}}</p> #}

{% endblock %}
