{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block body %}

<div class="formulaire-background">

    {% if edit %}
        <h4>Modifier un événement</h4>
    {% else %}
        <h4>Créer un événement</h4>
    {% endif %}


    <div class="formulaire">
        {{ form_start(formAddEvenement) }}
        <div class="row-form">
            <div class="col-form">
                {{ form_row(formAddEvenement.titre) }}    
            </div>
            <div class="col-form">
            {{ form_row(formAddEvenement.description) }}
            </div>
        </div>

        <div class="row-form">
            <div class="col-form">
                {{ form_row(formAddEvenement.contenu) }}
            </div>
        </div>

        <div class="row-form">
            <div class="col-form">
                {{ form_row(formAddEvenement.dateDebut) }}
            </div>
            <div class="col-form">
                {{ form_row(formAddEvenement.dateFin) }}
            </div>
        </div>
        <div class="row-form">
            <div class="col-form">
                {{ form_row(formAddEvenement.visibilite) }}
            </div>
            <div class="col-form">
                {{ form_row(formAddEvenement.utilisateur) }}
            </div>
        </div>
        <div class="bouton">
            {{ form_end(formAddEvenement) }}
        </div>
    </div>

</div>
{% endblock %}



{# 
icône utilisateur
<i class="fa-regular fa-user"></i>

icône cadenas
<i class="fa-solid fa-lock"></i> #}