{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block body %}

    {% if edit %}
        <h4>Modifier un événement</h4>
    {% else %}
        <h4>Créer un événement</h4>
    {% endif %}


    <div class="formulaire">
        {{ form_start(formAddEvenement) }}
        <div class="row">
            {{ form_row(formAddEvenement.titre) }}    
            {{ form_row(formAddEvenement.description) }}
        </div>
        <div class="row">
        {{ form_row(formAddEvenement.contenu) }}
        </div>
        <div class="row">
        {{ form_row(formAddEvenement.dateDebut) }}
        </div>
        <div class="row">
            {{ form_row(formAddEvenement.dateFin) }}
        </div>
        <div class="row">
            {{ form_row(formAddEvenement.visibilite) }}</div>
            <div class="row">
            {{ form_row(formAddEvenement.utilisateur) }}
        </div>
        <div class="row">

            {{ form_end(formAddEvenement) }}
        </div>
    </div>

{% endblock %}



{# 
icône utilisateur
<i class="fa-regular fa-user"></i>

icône cadenas
<i class="fa-solid fa-lock"></i> #}