{% extends 'base.html.twig' %}

{% block title %}Détails utilisateur{% endblock %}

{% block body %}
<h1>Détails de {{ utilisateur }} </h1>

    <p>Nom : {{ utilisateur.nom}}</p>
    <p>Prénom : {{ utilisateur.prenom}}</p>
    <p>Email : {{ utilisateur.email}}</p>
    <p>Rôle : {{ utilisateur.role}}</p>

{% endblock %}
